* {
    font-family: 'roboto', sans-serif
}


body {
    margin-top: 2px;
   


}


body{
    background: linear-gradient(0deg, rgb(212, 212, 212), white, rgb(102, 255, 173))

}


body .receita {

    border: 20px solid white;
    border-radius: 1%;
    background-color: white;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 1%;
    margin-right: 10%;

}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 60px;
}

body .fotobolinho {
    width: 65%;
    height: 65%;
    margin-left: 16%;
    margin-top: 60px;
    border-radius: 20px;
}

body .descricaobolinho {

    margin-left: 66%;
    opacity: 50%;

}

body .ingredientes, .mododepreparo {
    color: rgb(87, 87, 87);
    margin-left: 17%;
    font-size: calc(+115%);

}

body .mododepreparo, .dica{

    margin-top: 60px;
}

body .dica{

    
    color: rgb(87, 87, 87);
    margin-left: 16%;
    font-size: calc(+115%);
}

body .assinatura{

    margin-left: 46%;
    margin-bottom: 2%;
    
    
}
